{% set Title = "3proxy : Documentation : 3proxy.8" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/man8/3proxy.8.html" %}
{% include "../../templates/include/postpage.html" %}
