{% set Title = "3proxy : Documentation : ftppr.8" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/man8/ftppr.8.html" %}
{% include "../../templates/include/postpage.html" %}
