{% set Title = "3proxy : Documentation : socks.8" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/man8/socks.8.html" %}
{% include "../../templates/include/postpage.html" %}
