{% set Title = "3proxy Windows Authentication plugin" %}
{% include "../../include/intro.html" %}

{% content "../../../3proxy/doc/html/plugins/WindowsAuthentication.html" %}

{% include "../../include/postpage.html" %}