{% set Title = "3proxy development version" %}
{% include "../../include/intro.html" %}

Do you like 3proxy? You can donate in bitcoins: <A href="bitcoin:1BFYgmikjfUXzaPRwFDkR25oebBBPvpzj8">1BFYgmikjfUXzaPRwFDkR25oebBBPvpzj8</A>, or in <a href="/donations/">any other</a> form.
  <h2>Current development proxy version (10-devel):</h2>

<h3><b>Devel version is currently highly experimental and unstable, use <a href="stable/">Stable</a> instead</b></h3>
	<ul>
		<li><A HREF="https://github.com/z3APA3A/3proxy/commits/devel">Changelog</A> Check it for known/fixed bugs
		<li><A HREF="https://github.com/z3APA3A/3proxy/tree/devel">GIT</A>
		<li><A HREF="https://hub.docker.com/repository/docker/3proxy/3proxy">Docker images</A>
		<li><A HREF="/current/3proxy-10-devel.tgz">3proxy-10-devel.tgz</A> sources
		<li><A HREF="/current/3proxy-10-devel.zip">3proxy-10-devel.zip</A> Windows binaries. Include 3proxy universal proxy compiled for Win32 (Requires Windows Vista / Windows Server 2008 or above).
		<li><A HREF="/current/3proxy-10-devel-lite.zip">3proxy-10-devel-lite.zip</A> Windows binaries compiled with gcc. This compilation is more compatible with 0.5 version (including counters file format) and works with Windows 95/98/NT/2000/XP, Windows Server 2003.
		<li><A HREF="/current/3proxy-10-devel-x64.zip">3proxy-10-devel-x64.zip</A> Windows binaries. Include 3proxy universal proxy compiled for Win64 (Windows Vista / Windows Server 2008 or above 64 bit Intel edition).
		<li><A HREF="/current/3proxy-10-devel-arm64.zip">3proxy-10-devel-arm64.zip</A> Windows binaries. Include 3proxy universal proxy compiled for Win64 (Windows Vista / Windows Server 2008 or above ARM64  edition).
		<li><A HREF="/current/3proxy-10-devel.x86_64.deb">3proxy-10-devel.x86_64.deb</A> x86_64 Linux deb file (experimental) for Debian-based distributions
		<li><A HREF="/current/3proxy-10-devel.x86_64.rpm">3proxy-10-devel.x86_64.rpm</A> x86_64 Linux rpm file (experimental) for RedHat based distributions
		<li><A HREF="/current/3proxy-10-devel.arm.rpm">3proxy-10-devel.arm.rpm</A> arm Linux rpm file (experimental) for RedHat based distributions
		<li><A HREF="/current/3proxy-10-devel.aarch64.rpm">3proxy-10-devel.aarch64.rpm</A> aarch64 (arm64) Linux rpm file (experimental) for RedHat based distributions
		<li><A HREF="/current/3proxy-10-devel.arm.deb">3proxy-10-devel.arm.deb</A> arm Linux deb file (experimental) for Debian-based distributions
		<li><A HREF="/current/3proxy-10-devel.aarch64.deb">3proxy-10-devel.aarch64.deb</A> arm64 Linux deb file (experimental) for Debian-based distributions
		<li><A HREF="/current/License.txt">License Agreement</A> (Freeware)
	</ul>

<p>
Contributors:
<ul>
	<li>3APA3A, 3APA3A at 3proxy.ru, code developer
	<li>Vladimir Dubrovin, vlad at 3proxy.ru, code developer
</ul>
{% include "../../include/postpage.html" %}