 
<p><img src="/favicon-1.png" align="right">
</div>	

<br><br><br><br><br>

 <script type="text/javascript">
$(document).ready(function() {
	
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
  
  var offset = $(':target').offset();
var scrollto = offset.top - 60; // minus fixed header height
$('html, body').animate({scrollTop:scrollto}, 0);
  
});
  </script>

    <footer class="footer bg-dark">
      <div class="container">
        <span class="text-muted">&copy; 2000-2026 3APA3A, Vladimir Dubrovin. Please contact <a class="tiny" href="mailto:3proxy@3proxy.ru">3proxy development team</a> if you want to contribute code or maintain port. 
<br> design saw-friendship 2018</span>
      </div>
    </footer>
	
</body>
</html>