{% set Title = "3proxy : Documentation : PCREPlugin" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/plugins/PCREPlugin.html" %}
{% include "../../templates/include/postpage.html" %}
