{% set Title = "3proxy : Documentation : StringsPlugin.ru" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/plugins/StringsPlugin.ru.html" %}
{% include "../../templates/include/postpage.html" %}
