{% set Title = "3proxy : Documentation : StringsPlugin" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/plugins/StringsPlugin.html" %}
{% include "../../templates/include/postpage.html" %}
