{% set Title = "3proxy : Documentation : TrafficPlugin" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/plugins/TrafficPlugin.html" %}
{% include "../../templates/include/postpage.html" %}
