{% set Title = "3proxy : Documentation : TransparentPlugin" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/plugins/TransparentPlugin.html" %}
{% include "../../templates/include/postpage.html" %}
