{% set Title = "3proxy : Documentation : TransparentPlugin.ru" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/plugins/TransparentPlugin.ru.html" %}
{% include "../../templates/include/postpage.html" %}
