{% set Title = "3proxy : Documentation : WindowsAuthentication" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/plugins/WindowsAuthentication.html" %}
{% include "../../templates/include/postpage.html" %}
