{% set Title = "3proxy : Documentation : WindowsAuthentication.ru" %}
{% include "../../templates/include/intro.html" %}
{% content "doc/html/plugins/WindowsAuthentication.ru.html" %}
{% include "../../templates/include/postpage.html" %}
