{% set Title = "3proxy traffic correction plugin" %}
{% include "../../include/intro.html" %}

{% content "../../../3proxy/doc/html/plugins/TrafficPlugin.html" %}

{% include "../../include/postpage.html" %}