{% set Title = "3proxy tiny free proxy server for Windows, Linux, Unix: SOCKS, HTTP, FTP proxy" %}
{% include "include/intro.html" %}
 <h2>3proxy tiny free proxy server</h2>

<br>

<table border="1">
<tr><td>Hot news:</td><td bgcolor="white">
	<a href="//3proxy.ru/download/">3proxy 0.9.6</a> Released April, 11 2026.
</td></tr><tr><td colspan="2" bgcolor="white">
<b>0.9.6</b>
<p>
<br>+ ssl_client and multiple configuration options added to SSLPlugin, SSLPlugin code significantly improved and bugfixed. See https://github.com/3proxy/3proxy/wiki/SSLPlugin. 3proxy can now be used as stunnel replacement for many scenarios.
<br>+ HAProxy proxy protocol v1 support as client and server, add -H option for service to expect HA proxy v1 protocol header, use ha parent type: parent 1000 ha 0.0.0.0 0 to send v1 header.
<br>+ tlspr is supported in auto
<br>+ tlspr supports -s option, it breaks HELLO packet to prevent some DPIs from detecting SNI
<br>+ maxseg configuration option and TCP_MAXSEG socket flag support added. It sets maximum size of TCP segment to fix PathMTU discovery problems
<br>+ -Ne / -Ni options added to specify external / internal NAT address for SOCKSv5
<br>+ cmake environment added
<br>! External pcre2 (pcre2-8) library is used for PCRE, pcre code is removed from 3proxy
<br>! Multiple minor bugfixes%   
<p>
<b>0.9.5</b>
<p>!!Security fix: proxy can potentially crash on on some platforms due to overlapping regions in strcpy()
<br>+ new proxy service type: tlspr - SNI proxy, may also be used as parent tls type, sniffs hostname from TLS handhake, <a href="/doc/man8/tlspr.8.html">read more</a>
<br>+    new proxy service type: auto - autodetect proxy type between proxy and socks
<br>+    SSLPlugin is rewritten, production-ready, supports TLS (SSL) server (may be used to create https:// type proxy), certificates checks and cypher options, <a href="/plugins/SSLPlugin/">read more</a>
<br>+    -g option is added for grace delay to reduce CPU load, <a href="/highload.html">read more</a>
<br>! Multiple minor bugfixes
<br>! More supported sockets options

<p>
<b>0.9.4</b>
<p>! Fix: invalid handling of '-' character in ACL hostname
<br>! Fix: minor bugfixes and improvements
<br>+ parentretry command added (defaults to 2) to retry connections to parent proxies
<br>- icqpr related code (OSCAR proxy) removed, due to drop of OSCAR support by messengers
<p>

<b>0.9.3</b>
<p>
Bugfixes:
<br>Fixed: systemd description file (proxy may fail to start after reboot or via systemctl)
<br>Fixed: group/account creation in installation scripts
<br>Fixed: countall/nocounall do not work in some configurations
<br>Fixed: counters do not work if counter file is not specified
<br>Fixed: counters without rotation (type N) are incorrectly shown in web admin interface
<br>Fixed: %n may be incomplete or missed in long log records
<br>Fixed: connect back functionality does not work
<br>
<br>Improvements:
<br>+ Docker builds
<p>
<b>0.9.2</b>
<p>
Bugfixes:
<br>Fixed: bandwidth limiters (once again)
<br>Fixed: data filtering plugins (PCREPlugin, SSLPlugin). SSLPlugin use on Linux requires to disable splice (-s0)
<br>FIxed: standalone proxies do not react on HUP (Ctrl+C) in Linux/Unix
<br>Fixed: few minor bugs
<br>
<br>Improvements:
<br>+ deb for arm platforms (experimental)
<br>+ Openssl 1.1 support for SSLPlugin
<p>
<b>0.9.1 - bugfix release</b>
<p>
Bugfixes:
<br>Fixed: socket may be closed before all data received/sent
<br>Fixed: bandlimin non-working
<br>Fixed: countall/nocountall
<br>Fixed: few race conditions
<p>
0.9 intoduces socket options including interface binding for Linux, connection limits and connection ratelimits, user session binding to IP,
zero-copy mode for Linux, multiple IPv6 improvements, preliminary RADIUS support, ARM support for Windows. 
It's recommended to update to 0.9 branch from any older versions.
<p>
0.9 now is a stable branch, 10 is a development branch, security-related fixes will be backported to 0.8 branch.
<p>
 Download: <a href="//3proxy.ru/download/">http://3proxy.ru/download/</a>
</td></tr>
</table>

	3Proxy tiny free proxy server is really tiny cross-platform
	(Win32/Win64&Unix) freeware proxy servers set. It includes HTTP proxy with HTTPS
	and FTP support, SOCKSv4/SOCKSv4.5/SOCKSv5 proxy (socks/socks.exe), POP3 proxy,
	SMTP proxy, AIM/ICQ proxy (icqpr/icqpr.exe), MSN messenger / Live messenger
	proxy (msnpr/msnpr.exe),
	FTP proxy, caching DNS proxy, TCP and UDP portmappers.

<p>	You can use every proxy as a standalone program (socks, proxy, tcppm,
	udppm, pop3p) or use combined program (3proxy). Combined proxy
	additionally supports features like access control, bandwidth limiting,
	limiting daily/weekly/monthly traffic amount,
	proxy chaining, log rotation, syslog and ODBC logging, etc.

<p>	It's created to be small, simple and yet very functional.

<p>	It may be compiled with Visual C or gcc. Native Win32/Win64 versions included
	in archive and supports installation as a service. Currently
	3proxy is tested to work under Windows since 98 (Windows before Vista reqires lite version) and up to latest version both i386 and x64,
	FreeBSD/i386/x64, NetBSD/i386/x64, OpenBSD/i386/x64, Linux/i386/x64/PPC/Alpha/arm, Mac OS X, Solaris/i386/x64.

<p>	3proxy is absolutely free (FreeWare) and open source. It can be used
	under terms of GNU/GPL. Starting from 0.6 version BSD-style license is used and
	any compatible license (Apache license, GPL, LGPL) may be used instead.

<p>	For licensing or commercial support questions please e-mail to
	<A HREF="mailto:3proxy@3proxy.ru" class="tiny">3proxy@3proxy.ru</A>
	<br>.

<p>
Contributors:
<ul>
	<li>3APA3A, 3APA3A at 3proxy.ru, code developer
	<li>Vladimir Dubrovin, vlad at securityvulns.ru, code developer
</ul>
<p>

{% include "include/postpage.html" %}